<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Variables -->
	<variable name="myLayout" value="${longdate} [DEV] ${callsite} | ${machinename} | ${level} : ${message}${newline}" />

	<!-- Configuración de los objetivos de registro (targets) -->
	<targets>
		<!-- Target para la consola -->
		<!--<target xsi:type="ColoredConsole" name="console" layout="${myLayout}" />-->

		<!-- Target para un archivo con generación diaria -->
		<target xsi:type="File" name="file" fileName="c:\Log\Hartrodt\Process\ahpeSynPagPro-${date:format=dd-MM-yyyy}.txt" layout="${myLayout}"
                archiveEvery="Day" />
	</targets>

	<!-- Reglas para enviar los logs a los targets -->
	<rules>
		<!-- Filtrar por el nombre del logger que comienza con el nombre de la solución -->
		<logger name="ahpeSynPagPro.*" minlevel="Info" writeTo="console" />
		<logger name="ahpeSynPagPro.*" minlevel="Info" writeTo="file" />
	</rules>

</nlog>
